<%= render(:partial => 'layouts/meta_data', :locals => {:obj => @page}) if @page %>
<div id="doubleBox">
	<%= render :partial => 'new' %>
	<%= image_tag 'content/top_rouded_double.png', :size => '639x15' %>
	<div id="new_message">
		<h1>New Message in <%= h @topic.title %></h1>
		<% form_for @message, :url => topic_messages_path(@topic) do |f| %>
		<%= f.hidden_field :parent_id %>
		<% if controller.action_name == :new %>
		<fieldset>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</fieldset>
		<% end %>
		<fieldset>
			<%= f.label :content %>
			<%= f.text_area :content, :class => "text_message" %>
		</fieldset>
		<div>
			<%= content_tag :button, 'Create', :type => 'submit', :class=>"submit_bt" %>
		</fieldset>
		<% end %>
	</div>
	<%= image_tag 'content/bottom_rouded_double.png', :size => '639x15' %>
</div>
<%= javascript_include_tag 'plugins/flashembed.min', 'page/directors_statements' %>
