
<%= render(:partial => 'layouts/meta_data', :locals => {:obj => @page}) if @page %>
<div id="doubleBox">
	<%= render :partial => 'message' %>
	<%= image_tag 'content/top_rouded_double.png', :size => '639x15' %>
	<div>
		  <span>
			<% if @message.parent %>
			  <%= link_to h(@message.parent.title), topic_message_path(@topic, @message.parent) %> &gt;
			<% end %>
		  </span>
		  <h2 class="titleReply"><%= h(@message.title) %></h2>
		<blockquote><%= simple_format(@message.content) %></blockquote>
		<% unless @message.parent %>
		
			<% if @message.children.size > 0 %>
		  <table id="replies" cellspacing="0" class="replies_table" width="100%">
			<tr>
			  <th class="left_text">Replies</th>
			</tr>
			</tr>
				<td>
					<% @message.children.by_recency.each_with_index do |message, i| %>
						<table width="100%">
						  <tr class="<%= i%2 == 1 ? 'even' : 'odd' %>">
							<th class="name">
							  <span class="message-title" title="<%= message.created_at.strftime('%d %b %Y %H:%M %p %Z')%>">
							    <%= h(message.user.login) %> - <%= time_ago_in_words(message.created_at) %> ago
							  </span>
								<% if current_user.administrator %>
								<span class="delete">
									<%= link_to image_tag ('buttons/bot_closeX.gif',:alt => "Close", :title => "Close")+" Delete", topic_message_path(@topic, message), :method=>:delete, :confirm=>"Are you sure?" %>	
								</span>
								<% end %>
							</th>				
						  </tr>
						  <tr>
						  	<td class="commentText">
						  		<span>
						  			<%= simple_format(message.content) %>
						  		</span>
						  	</td>
						  </tr>
						 </table>
					<% end %>
				</td>
			</tr>
		  </table>
		<% end %>
		<% end %>
	</div>
	<%= image_tag 'content/bottom_rouded_double.png', :size => '639x15' %>
</div>
<%= javascript_include_tag 'plugins/flashembed.min', 'page/directors_statements' %>
