<div id="sub_nav">
	<%= render :partial => "new" %>
</div>
<div id="content">
	<h1>Log In</h1>
	<div class="content_cms">
		<% form_tag session_path do -%>
			<p><%= label_tag 'login' %>
			<%= text_field_tag 'login', @login %></p>

			<p><%= label_tag 'password' %>
			<%= password_field_tag 'password', nil %></p>

			<p><%= submit_tag 'Log in' %></p>
		<% end -%>
		
		<p><a href="/users/forgot">Forgot your password?</a></p>
	</div>
</div>
