<div id="doubleBox">
	<%= render :partial => "new" %>
	<%= image_tag 'content/top_rouded_double.png', :size => '639x15' %>

	<div class="contentCMS">
		<h2>Log In</h2>
		<% form_tag session_path do -%>
			<p><%= label_tag 'login' %>
			<%= text_field_tag 'login', @login %></p>

			<p><%= label_tag 'password' %>
			<%= password_field_tag 'password', nil %></p>

			<p><%= submit_tag 'Log in' %></p>
		<% end -%>
		
		<p><a href="/users/forgot">Forgot your password?</a></p>
	</div>
	<%= image_tag 'content/bottom_rouded_double.png', :size => '639x15' %>
</div>
