<% @title = 'Press' %>
<div class="contentCMS">
	<h1 style="clear:both;width:690px;float:right;">Presses</h1>
	<% if @presses.size > 0 %>
	<dl class="press">
		<% @presses.each do |press| %>
			<dt><%= link_to image_tag(press.cover.url(:thumb)), :action=>'show', :id=>press.id %></dt>
			<dd>
				<strong><%= link_to press.title, :action=>'show', :id=>press.id  %></strong>
				<%= press.body.summary(330) %>
			</dd>
		<% end %>
	<dl>
	<h1 style="margin-top:20px;clear:both;width:590px;">Downloads</h1>
	<dl class="download">
		<% @downloads.each do |download| %>
			<dt><%= link_to image_tag('bullets/bullet_pdf.gif'), download.pdf.url %></dt>
			<dd>
				<strong><%= link_to download.title, download.pdf.url %></strong>&nbsp;- <%= download.body %>
			</dd>
		<% end %>
	<dl>
	<% else %>
		<p>Coming soon.</p>
	<% end %>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('press');});" %>
<% end -%>