<% @title = 'Press' %>
<div class="contentCMS">
	<h1 style="clear:both;width:590px;"><%= image_tag 'titles/title_press.gif', :alt => "Press", :title => "Press" %></h1>
	<% if @presses.size > 0 %>
	<dl>
		<% @presses.each do |press| %>
			<dt><%= link_to image_tag(press.cover.url(:thumb)), presses_path %></dt>
			<dd><%= press.body %></dd>
		<% end %>
	<dl>
	<h1 style="margin-top:20px;clear:both;width:590px;"><%= image_tag 'titles/title_download.gif', :alt => "Download", :title => "Download" %></h1>
	<% else %>
		<p>Coming soon.</p>
	<% end %>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('press');});" %>
<% end -%>