<% @title = 'Press' %>
<div class="press">
	<div id="sub_nav">
		<%= image_tag(@press.cover.url(:image)) unless @press.cover.url(:image).blank? %>
	</div>
	<div id="content">
		<h1><%= @press.title %></h1>
		<div class="content_cms"><%= @press.body %></div>
		<p><%= link_to "&laquo; Back", presses_path %></p>
	</div>
</div>

<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('press');});" %>
<% end -%>