<div id="menuLeft">
		<%= image_tag 'content/top_menu_rouded.png', :size => "252x15" %>
		<ul>
		    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %>
		    	<!-- <ul class="opened">
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	</ul> -->
		    </li>
		   	<!--<li><%#= link_to image_tag ('buttons/bot_character.gif', :size => '215x25' ,:alt => "Character & Historian", :title => "Character & Historian"), "/page/characters" %>-->
		    <!-- 
					<ul class="opened">
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '215x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
=======
		    	<ul class="opened">
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	</ul>
		    </li>
		    <li><%= link_to image_tag ('buttons/bot_character.gif', :size => '215x25' ,:alt => "Character & Historian", :title => "Character & Historian"), '#' %>
		    	<ul>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	    <li><%= link_to image_tag ('buttons/bot_synopsis.gif', :size => '150x25' ,:alt => "Synopsis", :title => "Synopsis"), '#' %></li>
		    	</ul>
		    </li> -->
		</ul>
		<%= image_tag 'content/bottom_menu_rouded.png', :size => "252x15" %>	
	</div>