<% if logged_in? %>
	<li><%= link_to "My Account", edit_user_path(current_user) %></li>
	<li><%= link_to "Logout", logout_path %>
<% else %>
	<% form_tag session_path do -%>
		<p><%= label_tag 'Username' %>
		<%= text_field_tag 'login', @login %></p>

		<p><%= label_tag 'password' %>
		<%= password_field_tag 'password', nil %></p>

		<p><%= submit_tag 'Log in', :class =>"button" %></p>
	<% end -%>
	<li><%= link_to "Password Assistance", "/users/forgot" %></li>
	<li><%= link_to "Register", signup_path %></li>
<% end %>