<div id="doubleBox">
	<%= render :partial => 'topics' %>
	
	<%= image_tag 'content/top_rouded_double.png', :size => '639x15' %>
	<div>
		<%= content_tag :p, link_to('Add a topic', new_topic_path) if logged_in? && current_user && current_user.administrator? %>
		<h1>Topics</h1>
		<table cellspacing="0" width="100%" class="topics_table">
			<tr>
				<th class="left_text">Topic</th>
				<th class="right_text"># Messages</th>
				<th class="right_text">Last Comment</th>
				<th>&nbsp;</th>
			</tr>
			<% @topics.each_with_index do |topic, i| %>
			<tr class="<%= i%2 == 1 ? 'even' : 'odd' %>">
				<td class="left_text">
					<%= link_to h(topic.title), topic %>
				</td>
				<td width="25%" class="counter right_text">
					<%= topic.messages.children_of(nil).count %>
				</td>
				<td class="date-col right_text" width="25%">
					<span title="<%= topic.last_message.created_at.strftime('%d %b %Y %H:%M %p %Z')%>">
					<%= time_ago_in_words(topic.last_message.created_at) %> ago
					</span>
				</td>
				<% if logged_in? and current_user.administrator? %>
				<td>
					 <%= link_to "Delete", topic_path(topic), :method=>:delete, :confirm=>"Are you sure?" %>
				</td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
	<%= image_tag 'content/bottom_rouded_double.png', :size => '639x15' %>
</div>
<%= javascript_include_tag 'plugins/flashembed.min', 'page/directors_statements' %>
