<div id="sub_nav">
	<%= render :partial => 'messages' %>
</div>
<div id="content">
	<h1>Forum</h1>
	<div class="content_cms">
			<% @topic.messages.children_of(nil).by_recency.each_with_index do |message, i| %>
				<% if message.active %>
					<h2 class="titleReply"><%= link_to h(message.title), topic_message_path(@topic, message) %></h2>
					<blockquote><%= message.content.summary 530 %></blockquote>
					<% unless message.parent %>
						<p><br/>Posted by <%= h(message.user.login) %> on <%= message.created_at.time.to_formatted_s(:short) %></p>
						<%  if logged_in? && current_user %>
							<p>
								<%= link_to('Add a reply', new_reply_path(@topic, message)) %>
								<%= link_to "Delete", topic_message_path(@topic, message), :method=>:delete, :confirm=>"Are you sure?" if current_user.administrator? %>
								<%= link_to "Edit", edit_admin_message_url(message) if current_user.administrator? %>
							</p>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
	</div>
</div>
<% content_for :head do -%>
	<%= javascript_include_tag 'plugins/flashembed.min', 'page/directors_statements' %>
	<%= javascript_tag "$(function(){set_menu('forum');});" %>
<% end -%>