<div id="doubleBox">
	<%= render :partial => "user_bar" %>
	<%= image_tag 'content/top_rouded_double.png', :size => '639x15' %>
	<div class="contentCMS">
		<h2>Recovery Password</h2>
		<% form_for :user, :url => recovery_users_path do |f| -%>
			<p>
				<%= f.label :email, "Your Email" %>
				<%= f.text_field :email %>
			</p>
			<p><%= submit_tag 'Recovery now!' %></p>
		<% end -%>
	</div>
	<%= image_tag 'content/bottom_rouded_double.png', :size => '639x15' %>
</div>