<h1>Editing Staff</h1>

<%= error_messages_for :staff %>

<% form_for(:staff, :url => object_url, :html => { :method => :put, :multipart=>true }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update"%>
  </p>
<% end %>

<br/>

<%= link_to 'Show', object_url %>
|
<%= link_to 'Back', collection_url %>