<div id="menuLeft">
		<%= image_tag 'content/top_menu_rouded.png', :size => "252x15" %>
		<ul>
		    <li><%= link_to image_tag ('buttons/bot_indonesian_timeline.gif', :size => '215x25' ,:alt => "Indonesian History Timeline", :title => "Indonesian History Timeline"), '/page/indonesian-timeline' %></li>
		    <li><%= link_to image_tag ('buttons/bot_genocide_timeline.gif', :size => '215x25' ,:alt => "Genocide Timeline", :title => "Genocide Timeline"), '/page/genocide-in-the-20th-century' %></li>
		    <li><%= link_to image_tag ('buttons/bot_mental_illness.gif', :size => '215x43' ,:alt => "Post Traumatic Stress Disorder", :title => "Post Traumatic Stress Disorder"), '/page/mental-illness' %></li>
		    <li><%= link_to image_tag ('buttons/bot_study_guide.gif', :size => '215x25' ,:alt => "Study Guide", :title => "Study Guide"), '/page/study-guide' %></li>
		    <li><%= link_to image_tag ('buttons/bot_links.gif', :size => '215x25' ,:alt => "Links", :title => "Links"), '/page/links' %></li>
		</ul>
		<%= image_tag 'content/bottom_menu_rouded.png', :size => "252x15" %>
	</div>