<%= render(:partial => 'layouts/meta_data', :locals => {:obj => @page}) if @page %>
<% @title = @page.title %>
<div id="content" class="contact">
	<h1><%= h @page.title %></h1>
	<% form_for('contact', :html => {:class => "validate"}) do |f| %>
		<% [:error, :notice].each do |message| %>
			<% content_tag :div, :class => message do %>
				<%= flash[message] %>
			<% end if flash[message] %>
		<% end %>
		<p>Submit the form below and we will get back to you as soon as possible.</p>
		
		<%= f.label('name', 'Name:') %>
		<%= f.text_field 'name', :class => "required" %>
		
		<%= f.label('email', 'E-mail:')%>
		<%= f.text_field 'email', :class => "required email" %>
		
		<%= f.label('message', 'Message:') %>
		<%= f.text_area 'message', :class => "required" %>
		
		<div class="submit">
			<%= submit_tag("Send", :class => 'button') %>
		</div>
	<% end %>

	<div class="content_cms">
		<%= @page.body %>
	</div>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('contact');});" %>
	<%= javascript_include_tag "plugins/validate.min", "page/contact" %>
<% end -%>
