<%= render(:partial => 'layouts/meta_data', :locals => {:obj => @page}) if @page %>
<% @title = @page.title %>
<div id="sub_nav">
	<table cellspacing="10">
		<tbody>
			<% @page.children.each do |page| -%>
				<tr>
					<th><%= page.title %></th>
					<td><a href="#<%= page.permalink %>"><%= image_tag "characters/#{page.permalink}.jpg", :size => "61x81", :title => page.title %></a></td>
					<td class="bullet"><%= image_tag "bullets/video.png", :size => "15x13" %></td>
				</tr>
			<% end -%>
		</tbody>
	</table>
</div>

<div id="content" class="character">
	<h1><%= @page.title %></h1>
	<div id="videoPlayer">&nbsp;</div>
	<div class="content_cms" style="width:700px;">&nbsp;</div>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('film');});" %>
	<%= javascript_include_tag "plugins/flashembed.min", "page/expert" %>
<% end -%>