<%= render(:partial => 'layouts/meta_data', :locals => {:obj => @page}) if @page %>
<% @title = @page.title %>
<div id="content">
	<h1><%= h @page.title %></h1>
	<div class="content_cms">
		<%= @page.body %>
		<div id="flashTimeline"></div>
	</div>
</div>
<% content_for :head do -%>
	<%= javascript_tag "$(function(){set_menu('resources');});" %>
	<%= javascript_include_tag "page/genocide" %>
<% end -%>
