<h1>Password Recovery</h1>

<p>Your password was changed to <%= @password %>.</p>

<p>Please, login in <a href=<%= "#{SITE_URL}/login" %>><%= SITE_URL %>/login</a> and modify your password at <a href=<%= "#{SITE_URL}/users/#{@user.id}/edit" %>><%= "#{SITE_URL}/users/#{@user.id}/edit" %></a>.</p>

<p>Regards,<br />
	Elemental Productions Team</p>
