<p>
  <strong>Title:</strong><%=h @photo.title %>
</p>
<p>
  <strong>Album:</strong><%=h @photo.album %>
</p>
<p>
  <strong>Position:</strong><%=h @photo.position %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>