<div class="gallery">
	<div id="sub_nav">
		<%= image_tag 'buttons/arrow_up.gif', :class => 'prev' %>
		<div class="list">
			<ul>
				<% @photos.each do |photo| %>
					<li><%= link_to_remote image_tag(photo.image.url(:thumb), :size => "76x57"), 
																:update=>"big", 
																:url=>photo_path(photo),
																:loading=>"$('.loading').show()",
																:complete=>"$('.loading').hide()" %></li>
				<% end %>
			</ul>
		</div>
		<%= image_tag 'buttons/arrow_down.gif', :class => 'next' %>
	</div>
	<div id="content">
		<h1><%= @gallery.title %></h1>
		<div class="content_cms">
			<div id="big"><%= render :partial => 'photos/photo' %></div>
			<%= image_tag 'loading.gif', :alt => "Loading", :title => "Loading", :class => 'loading' %>
		</div>
	</div>
</div>
<% content_for :head do	%>
	<%= javascript_tag "$(function(){set_menu('gallery');});" %>
	<%= javascript_include_tag "plugins/jcarousellite", "gallery/default" %>
<% end -%>
