<div class="gallery">
	<div id="sub_nav">
		<%= image_tag 'buttons/arrow_up.gif', :class => 'prev' %>
		<div class="list gallery_list">
			<ul>
				<% @galleries.each do |gallery| %>
					<li>
				    <p><%= gallery.title %></p>
					  <%= link_to image_tag(gallery.photos.first.image.url(:thumb), :size => "81x61"), gallery_path(gallery.permalink) %>
					</li>
				<% end %>
			</ul>
		</div>
		<%= image_tag 'buttons/arrow_down.gif', :class => 'next' %>
	</div>
	<div id="content">
		<h1><%= @gallery.title %></h1>
		<div class="content_cms">
			<div id="big"><%= render :partial => 'photos/photo' %></div>
			<%= image_tag 'loading.gif', :alt => "Loading", :title => "Loading", :class => 'loading' %>
		</div>
	</div>
</div>
<% content_for :head do	%>
	<%= javascript_tag "$(function(){set_menu('gallery');});" %>
	<%= javascript_include_tag "plugins/jcarousellite", "gallery/default" %>
<% end -%>
