<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>.:: <%= SITE_NAME %> ::. </title>
	<%= stylesheet_link_tag "application" %>
	
	<!--[if IE 6]>
		<%= stylesheet_link_tag "application_ie6" %>
	<![endif]-->
	
	<link href="/images/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<%= javascript_include_tag :defaults, 'plugins/ifixpng', 'plugins/flash', 'film/menu' %>
	<%= yield :head %>
</head>
<body>
<div id="main">
	<%= link_to image_tag ('elemental_productions.png', :width => 265, :height => 94, :alt => "Elemental Productions", :title => "Elemental Productions", :id => "logo"), '/' %>
	<ul id="menu">
	    <li><%= link_to image_tag ('menu/bot_home.gif', :width => 49, :height => 26, :alt => "Home", :title => "Home"), '/' %></li>
	    <li><%= link_to image_tag ('menu/bot_trailer.gif', :width => 73, :height => 26, :alt => "Trailer", :title => "Trailer"), '/page/trailer' %></li>
	    <li><%= link_to image_tag ('menu/bot_film.gif', :width => 50, :height => 26, :alt => "Film", :title => "Film"), '/page/film' %></li>
	    <li><%= link_to image_tag ('menu/bot_filmakers.gif', :width => 93, :height => 26, :alt => "Filmmakers", :title => 'Filmmakers'), '/page/filmmakers' %></li>
	    <li><%= link_to image_tag ('menu/bot_forums.gif', :width => 52, :height => 26, :alt => "Forums", :title => "Forums"), '/page/forums' %></li>
	    <li><%= link_to image_tag ('menu/bot_gallery.gif', :width => 73, :height => 26, :alt => "Gallery", :title => "Gallery"), '/gallery' %></li>
	    <li><%= link_to image_tag ('menu/bot_press.gif', :width => 58, :height => 26, :alt => "Press", :title => "Press"), '/press' %></li>
	    <li><%= link_to image_tag ('menu/bot_resources.gif', :width => 93, :height => 26, :alt => "Resources", :title => "Resources"), '/page/indonesian-timeline' %></li>
	    <li><%= link_to image_tag ('menu/bot_screening.gif', :width => 93, :height => 26, :alt => "Screening", :title => "Screening"), '/page/screening' %></li>
	    <li><%= link_to image_tag ('menu/bot_contact.gif', :width => 73, :height => 26, :alt => "Contact", :title => "Contact"), '/page/contact' %></li>
	</ul>
	<div id="content">
		<%= yield %>
	</div>
	<div id="footer">
		<ul>
		    <li><%= link_to "Home", "/" %>|</li>
		    <li><%= link_to "Trailer", "/page/trailer" %>|</li>
			<li><%= link_to "Film", "/page/film" %>|</li>
		    <li><%= link_to "Filmmakers", "/page/filmmakers" %>|</li>
		    <li><%= link_to "Forums", "/page/forums" %>|</li>
		    <li><%= link_to "Gallery", "/gallery" %>|</li>
		    <li><%= link_to "Press", "/press" %>|</li>
		    <li><%= link_to "Resources", "/page/indonesian-timeline" %>|</li>
		    <li><%= link_to "Contact", "/page/contact" %></li>
		</ul>
		<p>&copy; Copyright Elemental Productions. <%= link_to "Santa Monica Website Design", 'http://www.dburnsdesign.com', :target => '_blank' %> by DBurns Design </p>
	</div>
</div>
</body>
</html>
