<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>.:: <%= SITE_NAME %> ::. </title>
	<%= stylesheet_link_tag "application" %>
	
	<link href="/images/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<%= javascript_include_tag :defaults, 'plugins/ifixpng', 'plugins/flash', 'page/home' %>
	<%= yield :head %>
</head>
<body class="home">
<div id="main">
	<div id="flashHome"></div>
	<div id="footer">
		<p>
			You can download the <%= link_to 'Flash Player', 'http://www.adobe.com/products/flashplayer/', :target => '_blank' %> if you can't see anything.<br/>
			&copy; Copyright Elemental Productions. <%= link_to "Santa Monica Website Design", 'http://www.dburnsdesign.com', :target => '_blank' %> by DBurns Design
		</p>
	</div>
</div>
</body>
</html>